<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="section-title">
      <h2>About</h2>
      <p>{{basic_info.about}}</p>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img src="{{basic_info.profile_picture.url}}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>{{basic_info.job_1}} & {{basic_info.job_2}}.</h3>
 
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>{{basic_info.birthday}}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span><a href="{{basic_info.website}}">Portfolio</a></span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+963{{basic_info.phone_1}}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>{{basic_info.address}}</span></li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>{{basic_info.age}}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>{{basic_info.degree}}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>{{basic_info.email_1}}</span></li>
              <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>
              {% if basic_info.avilable %}
                Available
                {% else %}
                Not available
              {% endif %}
                </span></li>
            </ul>
          </div>
        </div>

      </div>
    </div>

  </div>
</section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container">

        <div class="section-title">
          <h2>Facts</h2>
          <p>some facts about my previous work</P>
        </div>

        <div class="row no-gutters">
          
          {% for fact in facts   %}
          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-{{fact.emoji}}"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{fact.number}}" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>{{fact}}</strong></p>
            </div>
          </div>
          {% endfor %}
            


        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>Some of my professional skills</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">
            
            {% for skill in skills_1  %}
            
            
            <div class="progress">
              <span class="skill">{{skill.title}} <i class="val">{{skill.rate}}%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{skill.rate}}" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            
              

            {% endfor %}
              


          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            {% for skill in skills_2  %}
            
            
            <div class="progress">
              <span class="skill">{{skill.title}} <i class="val">{{skill.rate}}%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{skill.rate}}" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            
              

            {% endfor %}


          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->